In [28]:
import pandas as pd
df = pd.read_csv('tracks_features.csv')
len(df)

1204025

In [29]:
cols_to_drop = [
                "album_id",
                "artist_ids",
                "track_number",
                "disc_number",
                "explicit",
                "release_date"
]
df = df.drop(columns=cols_to_drop)
df.head(3)

                       id              name  ... time_signature  year
0  7lmeHLHBe4nmXzuXc0HDjk           Testify  ...            4.0  1999
1  1wsRitfRRtWyEapl0q22o8   Guerrilla Radio  ...            4.0  1999
2  1hR0fIFK2qRG3f3RF70pb7  Calm Like a Bomb  ...            4.0  1999

[3 rows x 18 columns]

In [30]:
# Convert name, album, artists column to strings
df['name'] = df['name'].astype(str)
df['album'] = df['album'].astype(str)
df['artists'] = df['artists'].astype(str)

In [31]:
def isEnglish(s):
  return s.isascii()

print(isEnglish("Test"))
print(isEnglish("_1991_اف_جي2"))

True
False

In [32]:
song_mask = df['name'].apply(isEnglish)
len(df)

1204025

In [33]:
english_name_df = df[song_mask]
len(english_name_df)

1152511

In [34]:
album_mask = english_name_df['album'].apply(isEnglish)
english_name_and_album_df = english_name_df[album_mask]
len(english_name_and_album_df)

1126210

In [35]:
artists_mask = english_name_and_album_df['artists'].apply(isEnglish)
english_name_album_artists_df = english_name_and_album_df[artists_mask]
len(english_name_album_artists_df)

1079362

In [36]:
def any_spec_char(s):
  special_characters = "!@#$%:^&*-+?_[]1234567890=<>/\""
  return not any(c in special_characters for c in s)

def any_spec_album_char(s):
  special_characters = "!@#$%:^&*+?_=[]1234567890<>/\""
  return not any(c in special_characters for c in s)

def any_spec_artists_char(s):
  special_characters = "!@#$%:^&*+?\_=<>/"
  return not any(c in special_characters for c in s)

In [37]:
clean_name_mask = english_name_and_album_df['name'].apply(any_spec_char)
clean_name_df = english_name_and_album_df[clean_name_mask]
len(clean_name_df)

853885

In [38]:
clean_album_mask = clean_name_df['album'].apply(any_spec_album_char)
clean_name_and_album_df = clean_name_df[clean_album_mask]
len(clean_name_and_album_df)

699846

In [39]:
clean_artists_mask = clean_name_and_album_df['artists'].apply(any_spec_artists_char)
clean_name_album_artists_df = clean_name_and_album_df[clean_artists_mask]
len(clean_name_album_artists_df)

676215

Convert to Title Case

In [40]:
def convert_to_title_case(s):
  return s.title()

In [41]:
clean_name_album_artists_df['name'] = clean_name_album_artists_df['name'].apply(convert_to_title_case)
clean_name_album_artists_df['album'] = clean_name_album_artists_df['album'].apply(convert_to_title_case)
clean_name_album_artists_df['artists'] = clean_name_album_artists_df['artists'].apply(convert_to_title_case)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
clean_name_album_artists_df.head(1)

                       id     name  ... time_signature  year
0  7lmeHLHBe4nmXzuXc0HDjk  Testify  ...            4.0  1999

[1 rows x 18 columns]

Check Profanity

In [43]:
pip install better_profanity

Requirement already satisfied: better_profanity in /usr/local/lib/python3.7/dist-packages (0.7.0)

In [44]:
from better_profanity import profanity

In [45]:
def check_profanity(s):
  return not profanity.contains_profanity(s)

In [46]:
profanity_name_mask = clean_name_album_artists_df['name'].apply(check_profanity)

In [47]:
final_cleaned_df = clean_name_album_artists_df[profanity_name_mask]
len(final_cleaned_df)

665051

In [48]:
final_cleaned_df = final_cleaned_df.sample(500000)

In [49]:
final_cleaned_df.head(3)

                            id                     name  ... time_signature  year
409235  3iiMMyKjbLS9rByuSLAzOh  Unemployed Funk Hipster  ...            4.0  2014
192779  03gpO8zRFLa0CFt0bqKWrX      Phrygian Love Theme  ...            4.0  2009
832898  3Og6Nwr838gIPMZrQU9va4               Spellbound  ...            4.0  2011

[3 rows x 18 columns]

In [50]:
from sklearn.utils import shuffle
final_cleaned_df = shuffle(final_cleaned_df)

In [51]:
final_cleaned_df.head(3)

                             id                     name  ... time_signature  year
238906   4oP4XVjxVVi33jhe6ktV1E               Let Her Go  ...            4.0  2004
1023811  4fc7s6ducbIc1gpaHqLJfJ                Right Now  ...            4.0  2017
296185   738JMbHbattUg14c2uZFz5  Meditation (From Thais)  ...            5.0  2009

[3 rows x 18 columns]

In [52]:
final_cleaned_df.to_csv('spotify_songs_dataset.csv', index=False)

In [53]:
from google.colab import files

In [54]:
files.download('spotify_songs_dataset.csv')